h2 {
    background-color: green;
    border: 2px solid #4CAF50;
    padding: 20px;
    width: 97.6%;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    bottom: 0;
    margin: 0;
  }
